@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  //Background
  --bg-color01: #0b0f2c;
  --bg-color02: #353d6d;

  --padding-LR: clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);

  //Typography
  --color-text1: #ffffff;
  --color-text2: #bdbdbd;
  --color-text3: #ffb74d;
  --Kanit: "Kanit", sans-serif;

  --Size-h1: clamp(1.563rem, 1.384rem + 0.893vw, 2.188rem);
  --Size-h2: clamp(0.688rem, 0.491rem + 0.982vw, 1.375rem);
  --Size-h3: clamp(0.688rem, 0.491rem + 0.982vw, 1.375rem);
  --Size-pB: clamp(1rem, 0.714rem + 0.595vw, 1.25rem);
  --Size-p: 1rem;
  --Size-hline: 12px;
}

.light-mode:root {
  --bg-color01: #0b0f2c;
  --bg-color02: #202446;

  --padding-LR: clamp(0.75rem, 0.607rem + 0.714vw, 1.25rem);

  //Typography
  --color-text1: #000000;
  --color-text2: #bdbdbd;
  --color-text3: #ffb74d;
}
