.titleProfile {
  font-family: var(--Kanit);
  font-size: 25px;
  font-weight: 600;
}

.textProfile {
  font-family: var(--Kanit);
  font-weight: normal;
  font-size: 16px;
}
.titleBanner {
  font-family: var(--Kanit);
  font-weight: 600;
  font-size: clamp(2rem, -0.286rem + 4.762vw, 4rem);
}
.subTitleBanner {
  font-family: var(--Kanit);
  font-weight: 300;
  font-size: 32px;
}

.titleInfos {
  font-family: var(--Kanit);
  font-weight: 600;
  font-size: 32px;
}

.subTitleInfos {
  font-family: var(--Kanit);
  font-weight: 600;
  font-size: 24px;
}

.textInfos {
  font-family: var(--Kanit);
  font-weight: 300;
  font-size: 18px;
}
