.titleProfile {
  font-family: var(--Kanit);
  font-size: 25px;
  font-weight: 600;
}

.textProfile {
  font-family: var(--Kanit);
  font-weight: normal;
  font-size: 16px;
}
.textH3 {
  font-family: var(--Kanit);
  font-weight: 500;
  font-size: var(--Size-h3);
}

.textP {
  font-family: var(--Kanit);
  font-weight: normal;
  font-size: var(--Size-p);
}
.textPb {
  font-family: var(--Kanit);
  font-weight: normal;
  font-size: var(--Size-pB);
}
