.container {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
    transition: ease-in-out 0.3s;
  }

  .containerProduct {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 20px 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: ease-in-out 0.3s;

    .containerName {
      width: 100%;
      display: flex;
      align-items: start;

      span {
        background-color: var(--color-blue);
        padding: 6px;
        border-radius: 2px;
      }
    }

    a {
      color: var(--bg-infos);
      transition: ease-in-out 0.3s;

      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &:hover {
    img {
      transform: scale(120%);
      filter: brightness(35%);
    }
    .containerProduct {
      opacity: 100;
    }
  }
}
