.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 0px 35px 0px;

  .socialsAnimation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .social {
    background-color: var(--bg-profile02);
    color: var(--color-titleProfile);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.5s;
  }

  .social:hover {
    background-color: var(--color-blue);
    cursor: pointer;
  }
}
